$color-primary: #ff5252;
$color-primary-light: #ffbaba;
$color-primary-dark: #a70000;
$color-orangered: orangered;
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-dark: #333;

$color-secondary-light: #09c6f9;
$color-secondary-dark: #045de9;

$grid-width: 114rem;
$grid-vertical-gap: 8rem;
$grid-horizontal-gap: 6rem;
